<h2>You are taking an oath:</h2>

<div>Name of this item: {{item.name}}</div>

<br><br>

<div>Owner of this item: {{user.username}} </div>

<br><br>

<label for="password">Item's ID: {{item.tag}}</label>
<div id="itemID"></div>

<br><br>

<form action="/items/taken/{{item._id}}" method="POST" id="taken-container">

  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Take care of this item</button>
  <a href="/about">How this works?</a>
</form>